
/* Search */

#search {
    float: right;
    width: 305px;
    height: 45px;
}

#search span {
    float: right;
    margin: 0;
    padding: 12px 30px 0 0;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search input {
    float: left;
    font-size: 12px ;
    border: none;
}

#search-text {
    width: 135px;
    height: 18px;
    padding: 3px 0 0 5px;
    border: 1px solid #333333;
    background: #ECF9E4;
    color: black;
}

#search-submit {
    height: 21px;
    margin-left: 10px;
    padding: 0px 5px;
    background: #000000;
    color: #FFFFFF;
}

/* Page */

#page {
    width: 920px;
    margin: 0 auto;
    /* height: 400px; */
}

#page-bgtop {
    padding-top: 30px;
}

/* Content */

#content {
    float: right;
    width: 658px;
    padding-top: 10px;
    padding-right: 30px;
}


/* Post */

.post {
    background: url(../images/img07.jpg) repeat-x left bottom;
    margin-bottom: 25px;
}

.post .title {
    height: 30px;
    color: #549900;
}

.post .title a {
    text-decoration: none;
    color: #585D60;
}


.post .meta {
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 2px 30px 2px 16px;
    background: url(../images/img03.gif) no-repeat left 8px;
    font-weight: normal;
    font-size: 10px;
    color: black;
}

.post .entry {
    padding: 10px 0;
    font-size:13px;
}

.entry p{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 130px;
}

.operate{
    text-align:right;
    padding:4px;    
}
.operate a{
    text-decoration:underline;
}

/* Sidebar */

#sidebar {
    float: left;
    width: 177px;
    padding-left: 22px;
    font-size: 12px;
    color: black;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#sidebar li {
    margin-bottom: 30px;
    padding: 0 0 10px 0px;
    color: #585D60;
}
#sidebar li li.curr{
    font-size: 17px;
}
#sidebar li li {
    margin: 0;
    padding: 7px 10px 10px 7px;
    background: url(../images/img07.jpg) repeat-x left bottom;
    cursor:pointer;
}

#sidebar p {
    margin: 0;
    padding: 0px 10px;
}

#sidebar h2 {
    height: 26px;
    margin: 0 0 10px 0px;
    padding: 12px 0 2px 7px;
    font-size: 18px;
    font-weight: normal;
    color: #464F54;
}

#sidebar a {
    text-align: left;
}



