* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background:url(../images/login-bg.jpg) repeat-y left center;
    background-size: 100%;
}
a {
    text-decoration: none;
}
.wrapper {
    width:100%;
    font-family: "Microsolf Yahei";
    position: relative;
   }
.login-main {
    padding-top: 170px;
    padding-bottom: 60px;   
}
.login {
    background:#3c6ea0;
    opacity: 0.9;
    background-size: 100% 100%;
    width: 450px;
    height: 350px;
    border-radius: 15px;
    margin: auto;
    text-align:right;
}
.login a{
    color:white;
}

span {
    display: block;
    width: 240px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 18px;
    padding-top: 40px;
    color: #fff;
    margin: 0 auto;
}
input{
    display: block;
    width: 270px;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-left: 10px;
    line-height: 45px;
    font-size: 25px;
    font-family: "Microsolf Yahei";
    border-radius: 6px;
}
input[type="submit"] {
    font-size: 16px;
    width: 120px;
    background: #3d3b4f;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 8px;
}
.register{
    border: 1px solid #3c6ea0;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    width: 65px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 50px;
    top: 30px;
}
